* {
    margin: 0;
    padding: 0;
}

body {
    background: url("./bg-img.jpg") no-repeat;
    background-size: cover;
    height: 300vh;
}

.div1 {
    position: absolute;
    background-color: black;
    font-size: 40px;
    color: white;
    width: 25%;
    border-radius: 50px;
    border: 12px solid red;
    padding: 20px 20px 70px 20px;
}

.div2 {
    position: absolute;
    top: 0px;
    left: 16%;
    background-color: black;
    font-size: 40px;
    color: white;
    width: 26%;
    border-radius: 50px;
    border: 12px solid red;
    padding: 40px 40px 0px 100px;
}

.div3 {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: black;
    font-size: 40px;
    color: white;
    width: 26%;
    border-radius: 50px;
    border: 12px solid red;
    padding: 40px 40px 0px 100px;
}

.form {
    background-color: white;
    position: absolute;
    width: max-content;
    padding: 40px;
    font-size: 25px;
    border: 10px dashed red;
    color: rgb(197, 105, 120);
    right: 20%;
    top: 30%;
    text-align: center;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

.form-div div {
    padding: 20px;
}

.form-div div label {
    margin: 20px;
}

.form-left {
    position: absolute;
    top: 30%;
    left: 200px;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid gray;
}

.form-left div {
    position: relative;
    top: 15%;
}

.form-left div h1 {
    padding: 30px;
}

.form-left div hr {
    border: 2px solid white;
}

.underline {
    text-decoration: underline;
}

#submit {
    padding: 5px 10px;
}

#reset {
    padding: 5px 10px;
}

.menu {
    background-color: black;
    position: relative;
    left: 30%;
    width: 30%;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 50px;
    border: 12px solid red;
    text-align: center;
    font-style: italic;
}

.menu-section {
    position: absolute;
    top: 145vh;
    width: 100%;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.menu-item {
    margin-top: 40px;
    width: 30rem;
    height: 18rem;
    background-color: aquamarine;
    border-radius: 30px;
    border: 5px solid rgb(12, 165, 12);
    text-align: center;
    color: rgb(58, 58, 126);
}

.menu-item hr {
    margin: 20px 0px;
}

.menu-item ul {
    padding: 0px 30px;
}

.menu-item h1 {
    padding: 20px;
}
.lastDiv{
    height: 20rem;
}